body {
    background-color: #1E1E1E;
}

h1 {
    color: white;   
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
}
h2 {
    color: #D4D4D4;
    font-family: 'Roboto', sans-serif;
}

p {
    color: white;    
    font-family: 'Roboto', sans-serif;
    margin: 5% 10%;
}

@media (orientation: portrait) {
    body {  
        background-position-y: 30%;
    }
    h1{
        font-size: 9vw;        
    }
    h2 {
        font-size: 7vw;
    }
}
@media (orientation: landscape){
    body {  
        background-position-y: 65%;
    }
    h1{
        font-size: 4vw;        
    }
    h2 {
        font-size: 3vw;
    }
}