body {
    background-color: #1E1E1E;
}

h1 {
    color: white;   
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
}
h2 {
    color: #D4D4D4;
    font-family: 'Roboto', sans-serif;
}

p {
    color: white;    
    font-family: 'Roboto', sans-serif;
    margin: 5% 10%;
}

@media (orientation: portrait) {
    body {  
        background-position-y: 30%;
    }
    h1{
        font-size: 9vw;        
    }
    h2 {
        font-size: 7vw;
    }
}
@media (orientation: landscape){
    body {  
        background-position-y: 65%;
    }
    h1{
        font-size: 4vw;        
    }
    h2 {
        font-size: 3vw;
    }
}


.Full-page-message {
    position: absolute; 
    top: 20%;
    left: 0;
    right: 0;
}
  
.navbar {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.Page-content {
    margin-left: auto; 
    margin-right: auto;    
    overflow: overlay;
    height: calc(100vh - 112px);
    position: relative;
    width: 90%
}

.navbar {
    position: absolute;
    bottom: 0;
    width: 100%;
}